@{
  Layout = "_Layout";
}

@model LibraryApp.Models.Book
@using LibraryApp.Models

<h1>Record a new copy</h1>

<form method = "post">
  <label for="title">Copy</label>
  <input type = "text" id="title" name="title">
  <br>
  <table>
    @foreach (Patron item in ViewBag.Patrons)
    {
      <tr>
        <td>@item.Name</td>
        <td><input name="wutPatrons" type="checkbox" value="@item.PatronId"></td>
      </tr>
    }
  </table>
  <input type="submit" value="Save the copy">
</form>