@{
  Layout = "_Layout";
}

@model LibraryApp.Models.Patron

<h3>Delete this patron?</h3>
@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}
@Html.ActionLink("Back to List", "Index")