@{
  Layout = "_Layout";
}

@model LibraryApp.Models.Author

<h3>Delete this author?</h3>

@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}