@{
  Layout = "_Layout";
}

@using LibraryApp.Models
@model LibraryApp.Models.Author

<h2>Author</h2>
<br>
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This author hasn't written any books yet</p>
}
else
  @foreach(AuthorBook join in Model.JoinEntities)
{
  <h3>Books:@join.Book.Title</h3>
}

<p>@Html.ActionLink("Back to list", "Index")</p>
