@{
  Layout = "_Layout";
}
@using LibraryApp.Models;

<h1>Books:</h1>
@if (@Model.Count == 0)
{
  <h3>We are currently bookless</h3>
}
else
@foreach (Book book in Model)
{
  @Html.ActionLink($"{book.Title}", "Details", new { id = book.BookId })
}
<br>
<br>